{% extends "base.html" %}

{% block content %}
  <h1>
    About the Project
    </h1>
    <p>This is a project Nick Speer & Yjang Wynter built for Knight Hacks 2019
      <br>
      We had a lot of fun working on this project. Nick got some great footage for his YouTube Channel (...you should check him out)
   <br>
   Yjang got to experience working with Python and working with a web app and deployment. Plus he learned how to use git this weekend
   and a bit of debugging. Woot woot!
   <br>
   Overall it was a good time building an app that kind of works in 36 hours and we plan to continue development on it even after this event.
    </p>

  {%if id %}
    <!--{{id}} -->
  {% endif %}
{% endblock %}
